#IDE Specific
#NetBeans Specific
nbactions.xml
nb-configuration.xml
nb-ide-version
nbactions.xml
/nb-private/
/nbproject/private/
/nbproject/
/.build/
/build/
/dist/
/nbbuild/
/nbdist/

#Sources
#https://github.com/github/gitignore/blob/main/Global/NetBeans.gitignore
#https://stackoverflow.com/questions/2586097/what-should-be-in-gitignore-file-for-a-netbeans-java-project
#ChatGPT

#Class Files
.class

#Package Files
*.jar
